*{
	padding: 0;
	margin: 0;
}
.header{
	width: 100%;
	height: 30px;
}
.widgets{
	display: inline-block;
	width: 250px;
	float: right;
	padding: 5px;
}
.profile{
	border-radius: 20px;
}
.box{
	float: right;
	margin: 9px;
}
.title-img{
	margin-top: 13px;
	height: 25px;
	width: 30px;
}
.widgets a{
	margin-top: 17px;
	font-size: 13px;
	font-family: arial,sans-serif;
	text-decoration: none;
	color: black;
}
.logo{
	display: block;
	text-align: center;
	margin-top: 100px;
}
.input{
	margin-top: 6px;
	background-color: transparent;
    border: none;
    width: 400px;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
}
.search{
	margin-bottom: 5px;
	height: 16px;
	width: 16px;
	margin-right: 5px;
}
.logo-m{
	margin-top: 30px;
	text-align: center;
}

#input-b{
	display: flex;
	height: 44px;
	margin: auto;
	width: 590px;
	border: 1px solid #d4d4d4;
	border-radius: 25px;
}
#voice{
	margin-top: 2px;
	height: 32px;
	width: 32px;
}
#main-input{
	height: 200px;
}
#input-a{
	display: flex;
	margin-top: -30px;
	height: 50%;
}
#input-b{
	height: 46px;
	width: 584px;
	margin: auto;
}
#search-image{
	width: 30px;
}
#input-div{
	width: 450px;
	height: 34px;
}
#keyboard-div{
	text-align: center;
	width: 30px;
}
#voice-div{
	text-align: center;
	width: 30px;
}
#keyboard-div, #voice-div{
	margin-left: 15px;
	margin-top: 5px;
}
#input-b div{
	float: left;
	height: 100%;
}
#search-id{
	height: 15px;
	width: 15px;
	margin-top: 15px;
	margin-left: 15px;
}
#keyboard{
	margin-top: 14px;
	margin-left: 7px;
}
@media screen and (max-width: 584px){
	div#input-b{
		width: 100%;
	}
}
